/*ToDo*/

h2{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0px 0px  0px 0px;
    
  }
  
  #BG2 {
  
    /* identical to box height, or 100% */
    color: #FFFFFF;
    background: #000000;
    position: absolute;
    z-index: -4;
    top: -41.9px;
    left: -20px;
    right: -40px;
    bottom: -20px;
    width: 103%;
    height: 322px;
    transform: rotate(-4deg);
  
    
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #BG2Limit {
    display: block;
    width: 20%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  
  
  #ToDoScreen {
    scroll-margin-block-start: -40px;
    scroll-margin-block-end: 200px;
    min-height: 1060px;
    max-height: inherit;
    margin-bottom: 68px;
    background-image: url('../../assets/leftBG.png');
    background-repeat: no-repeat;
    background-position: left ;
    background-position-y: 300px;
    
  }
  #title {
    padding-top: 64px;
    width: 500px;
    align-items: center;
    text-align: center;
  }
  
  #line1 {
    background-color: #4AC959;
    width: 297px;
    height: 4px;
    margin: 0px 105px 23px 105px;
    z-index: 3;
  }
  
  #subtitle {
    color: #FFFFFF;
  }
  
  .ToDos {
    margin: 158px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    /*title*/
    height: inherit;
    max-height: inherit;
    
    width: 802px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .ToDoLeft {
    display: table;
    width: 382.85px;
    height: 20px;
    background-color: #E88D39;
    box-shadow: 0px 4px 12px rgba(0.258, 0.258, 0.258, 0.094);
    margin-bottom: 20px;
  }
  
  .ToDoLeft div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: auto;
    background-color: #FFFFFF;
    
    align-items: center;
    align-content: center;
  }
  
  #ToDoContent {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    color:#000000;
    height: inherit;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  
  #ToDoContent img {
    margin-right: 17px;
    margin-left: 30px;
  }
  
  #ToDoContent p{
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  
  .space {
    padding-bottom: 36px;
  }
  
  .ToDoRight {
    display: table;
    height: 20px;
    width: 382.85px;
    background-color: #4AC959;
    box-shadow: 0px 4px 12px rgba(0.258, 0.258, 0.258, 0.094);
    margin-bottom: 200px;
  }
  .ToDoRight div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: auto;
    background-color: #FFFFFF;

    align-items: center;
    
  }
  
  .ToDoRight div h3, .ToDoLeft div h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  .ToDoRight div h4, .ToDoLeft div h4 {
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    align-items: center;
    color: #000;
  }
  
  .ToDoRight div h4 strong {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  
  .ToDos button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  
    width: 302px;
    height: 64px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 28px;
    color: #FFFFFF;
  }

  .eraseBnt {
    background-color: #000000;
  }
  
  
  @media screen and (max-width: 830px) {
    .ToDos {
      display: flex;
      flex-direction: column;
      
      width: 382.85px;
      
    }
  
  }
  
  