@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,500,600|Poppins:600');


.scroll-container,
.scroll-area {
  max-width: inherit;
  
  
  
  
}
.scroll-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  
}
.scroll-area {
  scroll-snap-align: center;
  

}
#area1 {
  margin-top: 24px;
  height: 800px;
}
/*
background-image: url('./assets/BG.png');
*/

h1 strong {

  /* Organize */
  
  height: 131px;
  left: 5.56%;
  right: 51.46%;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 64px;

  color: #000000;
  
}

h1 {
  
  height: 131px;
  width: 500px;
  margin: 0;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  /* or 107% */
  color: #4AC959;
  line-height: 70px;
}

div p {

  margin-top: 64px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px; 
  width: 500px;
}
.Content {
  width: 100%;

}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  scroll-snap-align: start;
}
.Columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89vw;
  height: 80vh;
  margin-top: 208px;
  
 
}

.ColumnLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
  margin-top: 104px;
}

.GoToListContainer{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 600px;
}

#foto {
  display: absolute;
  z-index: 1;
  margin-top: 52px;
  right: 5vw;
  top: 95px;
}

.ColumnRight img{
  display: absolute;
  z-index: -3;
  position: absolute;

  right: 0px;
  top: 30px;
}

#GoToList {

  width: 300px;
  height: 64px;
  border-radius: 10px;
  background-color: #4AC959;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #FFFFFF;
}

@media screen and (max-width: 1140px) {
  h1 strong {
    display: flex;
    flex-direction: column;
    /* Organize */

    width: 100%;
    text-align: center;
    
  }
  h1 {
    display: flex;
    flex-direction: column;

    width: 100%;
    text-align: center;
  }
  .Columns {
    display: flex;
    text-align: center;

    width: 100%;
    
  }
  .ColumnLeft {
    
    margin-top: 104px;
    width: 100%;
    text-align: center;
  }
  .GoToListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
  }
  .Columns {
    
    width: 100%;
  }
  div p {
    width: 100%;
    text-align: center;
  }
  .ColumnRight {
    display: none;
    
  }
  #foto {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  h1 strong {
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    
  }
  h1 {
    font-size: 40px;
    line-height: 64px;
  }
  .GoToListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
  }
  .Columns {
    width: 100%;
  }
  div p {
    width: 100%;
    text-align: center;
  }
}

/*ToDo*/

h2{
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0px 0px  0px 0px;
  
}

#BG2 {

  /* identical to box height, or 100% */
  color: #FFFFFF;
  background: #000000;
  position: absolute;
  z-index: -4;
  top: -41.9px;
  left: -20px;
  right: -40px;
  bottom: -20px;
  width: 103%;
  height: 322px;
  transform: rotate(-4deg);

  

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#BG2Limit {
  display: block;
  width: 20%;
  align-self: center;
  align-items: center;
  justify-content: center;
}


#ToDoScreen {
  scroll-margin-block-start: -40px;
  scroll-margin-block-end: 200px;
  max-height: inherit;
  margin-bottom: 68px;
  background-color: #33333333;
}
#title {
  padding-top: 64px;
  width: 500px;
  align-items: center;
  text-align: center;
}

#line1 {
  background-color: #4AC959;
  width: 297px;
  height: 4px;
  margin: 0px 105px 23px 105px;
  z-index: 3;
}

#subtitle {
  color: #FFFFFF;
}

.ToDos {
  margin: 158px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  /*title*/
  height: inherit;
  max-height: inherit;
  
  width: 802px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.ToDoLeft {
  display: table;
  width: 382.85px;
  height: 20px;
  background-color: #E88D39;
}

.ToDoLeft div {
  margin-top: 20px;
  height: inherit;
  background-color: rgb(255, 217, 136);
}

.ToDoRight {
  display: table;
  height: 20px;
  width: 382.85px;
  background-color: #4AC959;
}
.ToDoRight div {
  margin-top: 20px;
  height: 800px;
  background-color: #b1ffbe;
}
/*
#leftBG {
  display: absolute;
  align-self: start;
  z-index: -3;
}*/

@media screen and (max-width: 830px) {
  .ToDos {
    display: flex;
    flex-direction: column;
    
    width: 382.85px;
  }

}


/*Carousel*/

#carousel {
  background-color: #333;
  height: 672px;
  margin-bottom: 79px;
}

/*GetInTouch*/

#GetInTouch {
  background-color: aquamarine;
  height: 820px;
  margin-bottom: 38px;
}

/*footer*/

footer {
  text-align: center;
  height: 210px;
  background-color: #000000;;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  margin-top: 0px;

}

#lineBG {

  width: 100%;
  height: 36px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
  margin: 0px;
  background-color: #000000;
  box-shadow: 10px 5px black;
  transform: scale3d(1.001, 1, 1);
 
}

footer h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  margin-top: 0;
  padding-top: 36px;
}

